@media only screen and (max-width: 950px) {
  .introduction .row {
    margin-top: calc(54px + 329 * (100vw - 375px) / 650);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .introduction__description {
    margin-top: calc(24px + 12 * (100vw - 375px) / 650);
  }
  .introduction__image {
    width: 80%;
    margin-top: calc(36px + 45 * (100vw - 375px) / 650);
  }
  .column-2-3 {
    width: 80%;
  }
  .column-2-3 .description {
    width: 100%;
  }
  .statistics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .statistics-item {
    width: 80%;
    margin-left: unset;
    padding-top: calc(16px + 8 * (100vw - 375px) / 650);
  }
  .statistics-item__text {
    font-size: calc(19px + 3 * (100vw - 375px) / 650);
  }
  .statistics-item__number {
    font-size: calc(81px + 19 * (100vw - 375px) / 650);
  }
  .statistics > div:not(:last-child) {
    margin-bottom: calc(54px + 27 * (100vw - 375px) / 650);
  }
  .description {
    font-size: calc(19px + 3 * (100vw - 375px) / 650);
    width: 80%;
  }
  .portfolio .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .description {
    width: 100%;
    line-height: 1.5;
    margin-top: 30px;
  }
  .portfolio .title {
    line-height: 1.25;
  }
  .portfolio .sticky-wrap {
    height: auto;
  }
  .portfolio .scroll-section {
    overflow-x: scroll;
    height: auto;
  }
  .portfolio .horizontal-scroll {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: left;
  }
  .portfolio__img {
    width: 25vw;
  }
  .tabs {
    width: 100%;
  }
  .tab {
    text-align: center;
  }
  .tab__title {
    font-size: calc(36px + 18 * (100vw - 375px) / 650);
  }
  .achivments {
    margin-top: calc(54px + 27 * (100vw - 375px) / 650);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tabs-content {
    padding-top: calc(16px + 8 * (100vw - 375px) / 650);
    width: 92%;
    margin-left: 4%;
  }
  .tabs-content .description {
    width: 100%;
  }
}