@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Генерация @font-face для каждого шрифта Roboto */
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary-color: #366091;
  --secondary-color: #131314;
}

body {
  font-family: Roboto;
}

a:hover {
  color: var(--primary-color);
}

.header {
  position: fixed;
  z-index: 100;
  background-color: #F7F7F7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
}

.block-logo {
  width: 20%;
}

.block-logo__image {
  width: 20%;
}

.burger-button {
  background-color: transparent;
  cursor: pointer;
  color: #000;
  font-size: 30px;
  float: right;
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
}

.menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-right: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(1.83799px + 0.893855vw);
  font-weight: 500;
}

.menu__item {
  color: #000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.menu__item:hover {
  color: var(--primary-color);
}

.footer-root {
  background-color: var(--secondary-color);
}

.footer {
  padding: 60px 30px 20px 30px;
  color: #FFF;
}

.footer__link {
  font-size: calc(24px + 12 * (100vw - 375px) / 650);
  color: #FFF;
}

.middle-line {
  margin-top: calc(122px + 61 * (100vw - 375px) / 650);
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-line__link {
  font-weight: 300;
  font-size: calc(19px + 3 * (100vw - 375px) / 650);
  color: #FFF;
}

.bottom-line {
  font-size: calc(14px + 2 * (100vw - 375px) / 650);
  font-weight: 300;
  color: #FFF;
  margin-top: calc(16px + 8 * (100vw - 375px) / 650);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-line__image {
  width: calc(112px + 12 * (100vw - 375px) / 394);
  color: #FFF;
  display: block;
  margin-left: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.title {
  font-size: calc(30px + 51 * (100vw - 1025px) / 895);
  font-weight: 300;
}

.title_big {
  font-size: calc(45px + 85 * (100vw - 1025px) / 895);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row_vend {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.row_vcenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  font-size: calc(16px + 8 * (100vw - 1025px) / 895);
  line-height: 1.5;
  font-weight: 200;
}

.description_big {
  font-size: calc(-0.0335197px + 1.56425vw);
}

.button-link {
  color: #FFF;
  background-color: var(--primary-color);
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 20px;
  height: calc(45px + 25 * (100vw - 1025px) / 895);
}

.button-link button {
  color: #FFF;
  background-color: transparent;
  font-size: calc(16px + 14 * (100vw - 1025px) / 895);
  font-weight: 500;
}

.button-link:hover {
  color: #FFF;
}

.wrapper {
  padding-top: calc(92.1397px + 6.81564vw + 20 * (100vw - 1025px) / 895);
}

.row_padding {
  padding: 0 30px;
}

.row_padding-left {
  padding-left: 30px;
}

.row_padding-top {
  padding-top: 30px;
}

.statistics-item {
  -webkit-transition: border-width 0.3s ease-out;
  transition: border-width 0.3s ease-out;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.statistics-item__text {
  padding-top: calc(11px + 13 * (100vw - 1025px) / 895);
  font-weight: 200;
  font-size: calc(16px + 8 * (100vw - 1025px) / 895);
}

.statistics-item__number {
  font-size: calc(67px + 63 * (100vw - 1025px) / 895);
  line-height: 1.5;
}

.statistics-item:hover {
  border-top: 3px solid var(--primary-color);
}

@media only screen and (max-width: 950px) {
  html, body {
    overflow-x: hidden;
    width: 100vw;
  }
  .block-logo__image {
    width: 10vw;
  }
  .menul {
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    visibility: hidden;
    display: none;
    width: 100%;
    -webkit-transition: unset;
    transition: unset;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  }
  .menul_show {
    display: block;
    position: absolute;
    top: 100%;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: var(--secondary-color);
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    width: 100vw;
    padding-top: calc(54px + 27 * (100vw - 375px) / 650);
  }
  .menu__item {
    color: #FFF;
    font-size: calc(30px + 6 * (100vw - 375px) / 650);
    line-height: 1.5;
    margin-left: calc(15px + 25 * (100vw - 375px) / 650);
    margin-right: calc(15px + 25 * (100vw - 375px) / 650);
    padding-top: calc(5px + 2 * (100vw - 375px) / 650);
    padding-bottom: calc(5px + 2 * (100vw - 375px) / 650);
    border-top: 1px solid #FFF;
  }
  .header {
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
    width: 100vw;
  }
  .header:has(.menul_show) {
    background-color: var(--secondary-color);
  }
  .header:has(.menul_show) .block-logo__image {
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .burger-button {
    display: block;
    height: 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: 4vw;
  }
  .menu-toggle-bar {
    display: block;
    top: 50%;
    margin-top: -4px;
    right: 0;
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu-toggle-bar.menu-toggle-bar--top {
    -webkit-transform: translate(0, -8px);
        -ms-transform: translate(0, -8px);
            transform: translate(0, -8px);
  }
  .menu-toggle-bar.menu-toggle-bar--bottom {
    -webkit-transform: translate(0, 8px);
        -ms-transform: translate(0, 8px);
            transform: translate(0, 8px);
  }
  .menul_show + .burger-button .menu-toggle-bar--top {
    background-color: #FFF;
    -webkit-transform: translate(0, 0) rotate(45deg);
        -ms-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  .menul_show + .burger-button .menu-toggle-bar--middle {
    background-color: #FFF;
    opacity: 0;
  }
  .menul_show + .burger-button .menu-toggle-bar--bottom {
    background-color: #FFF;
    -webkit-transform: translate(0, 0) rotate(-45deg);
        -ms-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }
  .footer__link {
    font-size: calc(24px + 12 * (100vw - 375px) / 650);
  }
  .middle-line {
    width: 80%;
  }
  .middle-line__link {
    font-size: calc(19px + 3 * (100vw - 375px) / 650);
  }
  .bottom-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .bottom-line__image {
    padding-top: calc(54px + 33 * (100vw - 375px) / 649);
    margin-left: unset;
  }
  .title {
    font-size: calc(36px + 18 * (100vw - 375px) / 650);
  }
  .title_big {
    font-size: calc(54px + 46 * (100vw - 375px) / 650);
  }
  .button-link {
    width: auto;
    margin-right: 30px;
    height: calc(54px + 8 * (100vw - 375px) / 649);
  }
  .button-link button {
    font-size: calc(16px + 11 * (100vw - 375px) / 650);
  }
}